<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('navbar') %>
    <h1 class="error">Error occured, please try again!</h1>
    <a class="add error" href="/">Go Back</a>
</body>
</html>