<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- <%- include('navbar')%> -->
    <div class="form-container">
        <form method="POST" action="/new">
            <label for="user" >Username</label>
            <input type="text" id="user" 
                   name="user" placeholder="Username"
                   required
                   oninvalid="this.setCustomValidity('Please enter your username')"
                   oninput="this.setCustomValidity('')" >
            <label for="text">Message Body</label>
            <textarea name="text" id="text" placeholder="Message Text"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>