<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   <%- include('navbar')%>

    <div class="container">
        <button class="add" onclick="window.location.href='http:/new'">Add message</button>
        <div class="messageWrapper">
            <% for(let i = 0; i < messages.length; i++) { %>
                
                    <div class="message">
                        <h2><%= messages[i].user%></h2>
                        <p><%= messages[i].text%></p>
                        <h5><i><%= messages[i].added%></i></h5>
                    </div>
                
            <% } %>
        </div>
    </div>

</body>
<script>
    const btn = document.getElementsByClassName('add')
    
       
    
</script>
</html>