<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   <!-- <%- include('navbar')%> -->

    <div class="container">
        <br>
        <a class="add" href="/new">Add message</a> <br>
        <div class="messageWrapper">
            <% messages.map((message) => { %>
                    <a class="btn" href="/messages/<%= message.id %>">
                    <div class="message">
                        <h2><%= message.username %></h2>
                        <p><%= message.text %></p>
                    </div>
                </a>
            <% }) %>
        </div>
    </div>

</body>
</html>